<div class="card w-25 p-2">
        <strong>User:</strong>
        <%= comment.commenter %>

    <p>
        <strong>Comment:</strong>
        <%= comment.body %>
    </p>

    <p>
        <%= button_to 'Delete Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: "Are you sure?" } ,:class => 'btn btn-outline-danger'%>
    </p>
</div>

