<%= form_with model: article do |form| %>
 <p>
        Название<br>
        <%= form.text_field(:title, {:class => 'form-control'} ) %>
    </p>

    <p>
        Текст статьи<br>
        <%= form.text_area(:body, {:class => 'form-control'} ) %>
    </p>

  <%= form.submit({:class => 'btn btn-success'} ) %>
<% end %>
