<h1 class="text-muted">Articles</h1>


  <% @articles.each do |article| %>
  <% unless article.archived? %>
      
        <h4><span class="nav-link"> <%= link_to article.title, article, class:' nav-link px-1 text-dark'%></span></h4>
        
        <hr>
      
  <% end %>
  <% end %>
